body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2600px;
}
#u1902 {
  position:absolute;
  left:73px;
  top:52px;
  width:1920px;
  height:2600px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:1292px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1722px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u1905 {
  position:absolute;
  left:1px;
  top:0px;
  width:1722px;
  height:93px;
  color:#BCBCBC;
}
#u1906 {
  position:absolute;
  left:2px;
  top:38px;
  width:1718px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1907 {
  position:absolute;
  left:33px;
  top:23px;
  width:163px;
  height:52px;
  font-size:28px;
  color:#FFFFFF;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1909 {
  position:absolute;
  left:330px;
  top:0px;
  width:118px;
  height:93px;
  font-size:18px;
  color:#BCBCBC;
}
#u1909_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1909.mouseOver {
}
#u1909_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1909.mouseDown {
}
#u1909_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1909.selected {
}
#u1910 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1911 {
  position:absolute;
  left:447px;
  top:0px;
  width:118px;
  height:93px;
  font-size:18px;
  color:#BCBCBC;
}
#u1911_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1911.mouseOver {
}
#u1911_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1911.mouseDown {
}
#u1912 {
  position:absolute;
  left:2px;
  top:36px;
  width:114px;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1913 {
  position:absolute;
  left:974px;
  top:0px;
  width:118px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1913_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1913.mouseOver {
}
#u1913_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1913.mouseDown {
}
#u1914 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1915 {
  position:absolute;
  left:710px;
  top:0px;
  width:118px;
  height:93px;
  font-size:18px;
  color:#BCBCBC;
}
#u1915_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1915.mouseOver {
}
#u1915_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u1915.mouseDown {
}
#u1916 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1723px;
  height:9px;
  background:inherit;
  background-color:rgba(51, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1917 {
  position:absolute;
  left:0px;
  top:92px;
  width:1723px;
  height:9px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1719px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1919 {
  position:absolute;
  left:1413px;
  top:24px;
  width:197px;
  height:50px;
  font-size:20px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:14px;
  width:193px;
  word-wrap:break-word;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1921 {
  position:absolute;
  left:575px;
  top:-1px;
  width:118px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1921_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1921.mouseOver {
}
#u1921_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1921.mouseDown {
}
#u1922 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1923 {
  position:absolute;
  left:838px;
  top:-1px;
  width:118px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1923_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1923.mouseOver {
}
#u1923_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1923.mouseDown {
}
#u1924 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1925 {
  position:absolute;
  left:1094px;
  top:-1px;
  width:118px;
  height:93px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1925_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1925.mouseOver {
}
#u1925_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:93px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BCBCBC;
}
#u1925.mouseDown {
}
#u1926 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u1927 {
  position:absolute;
  left:879px;
  top:80px;
  width:21px;
  height:13px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:1128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1929 {
  position:absolute;
  left:0px;
  top:101px;
  width:352px;
  height:1128px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:556px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1931 {
  position:absolute;
  left:161px;
  top:162px;
  width:121px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:2603px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1933 {
  position:absolute;
  left:352px;
  top:101px;
  width:34px;
  height:2603px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:1294px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:551px;
}
#u1935 {
  position:absolute;
  left:58px;
  top:2200px;
  width:300px;
  height:551px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:268px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1613px;
  height:543px;
}
#u1937 {
  position:absolute;
  left:383px;
  top:2193px;
  width:1613px;
  height:543px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:264px;
  width:1609px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1639px;
  height:79px;
}
#u1939 {
  position:absolute;
  left:385px;
  top:100px;
  width:1639px;
  height:79px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:32px;
  width:1635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:2487px;
}
#u1941 {
  position:absolute;
  left:1723px;
  top:7px;
  width:1038px;
  height:2487px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:1236px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:2603px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1943 {
  position:absolute;
  left:0px;
  top:101px;
  width:73px;
  height:2603px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:1294px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:2070px;
}
#u1945 {
  position:absolute;
  left:1352px;
  top:129px;
  width:398px;
  height:2070px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:1027px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:93px;
}
#u1947 {
  position:absolute;
  left:385px;
  top:129px;
  width:1217px;
  height:93px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:38px;
  width:1213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1949 {
  position:absolute;
  left:427px;
  top:156px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:159px;
}
#u1951 {
  position:absolute;
  left:945px;
  top:492px;
  width:404px;
  height:159px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:72px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1953 {
  position:absolute;
  left:1303px;
  top:150px;
  width:120px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1954 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1955 {
  position:absolute;
  left:1460px;
  top:150px;
  width:120px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1956 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1957 {
  position:absolute;
  left:1349px;
  top:211px;
  width:28px;
  height:28px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1958 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1959 {
  position:absolute;
  left:1506px;
  top:212px;
  width:28px;
  height:28px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1960 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1961 {
  position:absolute;
  left:1778px;
  top:174px;
  width:28px;
  height:28px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1962 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1963 {
  position:absolute;
  left:1778px;
  top:246px;
  width:28px;
  height:28px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1964 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1965 {
  position:absolute;
  left:1822px;
  top:180px;
  width:422px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  white-space:nowrap;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1967 {
  position:absolute;
  left:1816px;
  top:236px;
  width:345px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:181px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1969 {
  position:absolute;
  left:2249px;
  top:105px;
  width:421px;
  height:181px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:82px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1971 {
  position:absolute;
  left:2382px;
  top:147px;
  width:155px;
  height:16px;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1973 {
  position:absolute;
  left:2308px;
  top:208px;
  width:146px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1974 {
  position:absolute;
  left:2px;
  top:18px;
  width:142px;
  word-wrap:break-word;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1975 {
  position:absolute;
  left:2485px;
  top:208px;
  width:146px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1976 {
  position:absolute;
  left:2px;
  top:18px;
  width:142px;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:582px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1977 {
  position:absolute;
  left:1807px;
  top:398px;
  width:266px;
  height:582px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:283px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1979 {
  position:absolute;
  left:1855px;
  top:312px;
  width:30px;
  height:16px;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1981 {
  position:absolute;
  left:1855px;
  top:454px;
  width:169px;
  height:16px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  visibility:hidden;
  white-space:nowrap;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1983 {
  position:absolute;
  left:1842px;
  top:581px;
  width:196px;
  height:52px;
  font-size:14px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:16px;
  width:192px;
  word-wrap:break-word;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1985 {
  position:absolute;
  left:1842px;
  top:439px;
  width:196px;
  height:52px;
  font-size:14px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:16px;
  width:192px;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1987 {
  position:absolute;
  left:1834px;
  top:501px;
  width:222px;
  height:40px;
  color:#999999;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1989 {
  position:absolute;
  left:1829px;
  top:643px;
  width:222px;
  height:40px;
  color:#999999;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1991 {
  position:absolute;
  left:1842px;
  top:709px;
  width:196px;
  height:52px;
  font-size:14px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:16px;
  width:192px;
  word-wrap:break-word;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1993 {
  position:absolute;
  left:1829px;
  top:771px;
  width:222px;
  height:40px;
  color:#999999;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1995 {
  position:absolute;
  left:1847px;
  top:844px;
  width:196px;
  height:52px;
  font-size:14px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:16px;
  width:192px;
  word-wrap:break-word;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1997 {
  position:absolute;
  left:1834px;
  top:906px;
  width:222px;
  height:40px;
  color:#999999;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u1999 {
  position:absolute;
  left:147px;
  top:253px;
  width:145px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2001 {
  position:absolute;
  left:1965px;
  top:521px;
  width:28px;
  height:28px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2002 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2003 {
  position:absolute;
  left:2109px;
  top:492px;
  width:28px;
  height:28px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2004 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2005 {
  position:absolute;
  left:2142px;
  top:495px;
  width:365px;
  height:20px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2007 {
  position:absolute;
  left:1130px;
  top:150px;
  width:120px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2008 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
