body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8054 {
  position:absolute;
  left:10px;
  top:9px;
  width:219px;
  height:31px;
}
#u8055 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u8056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8056 {
  position:absolute;
  left:10px;
  top:40px;
  width:1200px;
  height:1327px;
}
#u8057 {
  position:absolute;
  left:2px;
  top:656px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8058 {
  position:absolute;
  left:22px;
  top:50px;
  width:1003px;
  height:158px;
}
#u8059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u8059 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8060 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u8061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:31px;
}
#u8061 {
  position:absolute;
  left:68px;
  top:0px;
  width:930px;
  height:31px;
  text-align:left;
}
#u8062 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u8063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u8063 {
  position:absolute;
  left:0px;
  top:31px;
  width:68px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8064 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u8065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:31px;
}
#u8065 {
  position:absolute;
  left:68px;
  top:31px;
  width:930px;
  height:31px;
  text-align:left;
}
#u8066 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u8067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
}
#u8067 {
  position:absolute;
  left:0px;
  top:62px;
  width:68px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8068 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u8069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:31px;
}
#u8069 {
  position:absolute;
  left:68px;
  top:62px;
  width:930px;
  height:31px;
  text-align:left;
}
#u8070 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u8071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u8071 {
  position:absolute;
  left:0px;
  top:93px;
  width:68px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8072 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u8073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:30px;
}
#u8073 {
  position:absolute;
  left:68px;
  top:93px;
  width:930px;
  height:30px;
  text-align:left;
}
#u8074 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u8075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u8075 {
  position:absolute;
  left:0px;
  top:123px;
  width:68px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8076 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u8077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:30px;
}
#u8077 {
  position:absolute;
  left:68px;
  top:123px;
  width:930px;
  height:30px;
  text-align:left;
}
#u8078 {
  position:absolute;
  left:2px;
  top:6px;
  width:926px;
  word-wrap:break-word;
}
#u8079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:249px;
}
#u8079 {
  position:absolute;
  left:22px;
  top:224px;
  width:1169px;
  height:249px;
}
#u8080 {
  position:absolute;
  left:2px;
  top:116px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:249px;
}
#u8081 {
  position:absolute;
  left:31px;
  top:541px;
  width:1169px;
  height:249px;
}
#u8082 {
  position:absolute;
  left:2px;
  top:116px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:249px;
}
#u8083 {
  position:absolute;
  left:41px;
  top:800px;
  width:1169px;
  height:249px;
}
#u8084 {
  position:absolute;
  left:2px;
  top:116px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:249px;
}
#u8085 {
  position:absolute;
  left:41px;
  top:1067px;
  width:1199px;
  height:249px;
}
#u8086 {
  position:absolute;
  left:2px;
  top:116px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8087 {
  position:absolute;
  left:152px;
  top:446px;
  width:51px;
  height:18px;
  color:#FFFFFF;
}
#u8088 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8089 {
  position:absolute;
  left:348px;
  top:446px;
  width:51px;
  height:18px;
  color:#FFFFFF;
}
#u8090 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8091 {
  position:absolute;
  left:152px;
  top:762px;
  width:51px;
  height:18px;
  color:#FFFFFF;
}
#u8092 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u8093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8093 {
  position:absolute;
  left:348px;
  top:762px;
  width:51px;
  height:18px;
  color:#FFFFFF;
}
#u8094 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
