body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1208px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u9901 {
  position:absolute;
  left:108px;
  top:195px;
  width:1000px;
  height:56px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u9902 {
  position:absolute;
  left:2px;
  top:18px;
  width:996px;
  word-wrap:break-word;
}
#u9903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9903 {
  position:absolute;
  left:138px;
  top:261px;
  width:57px;
  height:20px;
  color:#666666;
}
#u9904 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9905 {
  position:absolute;
  left:763px;
  top:260px;
  width:29px;
  height:20px;
  color:#666666;
}
#u9906 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9907 {
  position:absolute;
  left:832px;
  top:260px;
  width:29px;
  height:20px;
  color:#666666;
}
#u9908 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9909 {
  position:absolute;
  left:997px;
  top:260px;
  width:29px;
  height:20px;
  color:#666666;
}
#u9910 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u9911 {
  position:absolute;
  left:140px;
  top:301px;
  width:76px;
  height:76px;
}
#u9912 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9913 {
  position:absolute;
  left:741px;
  top:330px;
  width:61px;
  height:20px;
  color:#666666;
}
#u9914 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u9915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9915 {
  position:absolute;
  left:839px;
  top:330px;
  width:17px;
  height:16px;
  color:#666666;
}
#u9916 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u9917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9917 {
  position:absolute;
  left:981px;
  top:330px;
  width:59px;
  height:18px;
  color:#666666;
}
#u9918 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u9919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:2px;
}
#u9919 {
  position:absolute;
  left:138px;
  top:288px;
  width:918px;
  height:1px;
}
#u9920 {
  position:absolute;
  left:2px;
  top:-8px;
  width:914px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:2px;
}
#u9921 {
  position:absolute;
  left:138px;
  top:391px;
  width:918px;
  height:1px;
}
#u9922 {
  position:absolute;
  left:2px;
  top:-8px;
  width:914px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9923 {
  position:absolute;
  left:262px;
  top:330px;
  width:169px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u9924 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u9925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9925 {
  position:absolute;
  left:902px;
  top:370px;
  width:71px;
  height:18px;
  color:#666666;
}
#u9926 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CC0000;
}
#u9927 {
  position:absolute;
  left:973px;
  top:367px;
  width:74px;
  height:18px;
  font-size:18px;
  color:#CC0000;
}
#u9928 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u9929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:249px;
}
#u9929 {
  position:absolute;
  left:108px;
  top:195px;
  width:1px;
  height:248px;
}
#u9930 {
  position:absolute;
  left:2px;
  top:116px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:2px;
}
#u9931 {
  position:absolute;
  left:108px;
  top:444px;
  width:1001px;
  height:1px;
}
#u9932 {
  position:absolute;
  left:2px;
  top:-8px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:249px;
}
#u9933 {
  position:absolute;
  left:1108px;
  top:197px;
  width:1px;
  height:248px;
}
#u9934 {
  position:absolute;
  left:2px;
  top:116px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:2px;
}
#u9935 {
  position:absolute;
  left:107px;
  top:195px;
  width:1001px;
  height:1px;
}
#u9936 {
  position:absolute;
  left:2px;
  top:-8px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9937 {
  position:absolute;
  left:108px;
  top:463px;
  width:1000px;
  height:248px;
}
#u9938 {
  position:absolute;
  left:2px;
  top:116px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u9939 {
  position:absolute;
  left:108px;
  top:463px;
  width:1000px;
  height:56px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u9940 {
  position:absolute;
  left:2px;
  top:18px;
  width:996px;
  word-wrap:break-word;
}
#u9941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9941 {
  position:absolute;
  left:148px;
  top:545px;
  width:220px;
  height:130px;
}
#u9942 {
  position:absolute;
  left:2px;
  top:57px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9943 {
  position:absolute;
  left:164px;
  top:586px;
  width:155px;
  height:72px;
  color:#666666;
}
#u9944 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u9945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9945 {
  position:absolute;
  left:164px;
  top:558px;
  width:43px;
  height:20px;
}
#u9946 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9947 {
  position:absolute;
  left:339px;
  top:556px;
  width:20px;
  height:20px;
}
#u9948 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9949 {
  position:absolute;
  left:390px;
  top:545px;
  width:220px;
  height:130px;
}
#u9950 {
  position:absolute;
  left:2px;
  top:57px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9951 {
  position:absolute;
  left:406px;
  top:586px;
  width:155px;
  height:72px;
  color:#666666;
}
#u9952 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u9953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9953 {
  position:absolute;
  left:406px;
  top:558px;
  width:43px;
  height:20px;
}
#u9954 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:130px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9955 {
  position:absolute;
  left:633px;
  top:545px;
  width:220px;
  height:130px;
}
#u9956 {
  position:absolute;
  left:2px;
  top:57px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9957 {
  position:absolute;
  left:734px;
  top:584px;
  width:20px;
  height:20px;
}
#u9958 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9959 {
  position:absolute;
  left:707px;
  top:614px;
  width:71px;
  height:20px;
  color:#666666;
}
#u9960 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:186px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9961 {
  position:absolute;
  left:8px;
  top:995px;
  width:1200px;
  height:186px;
}
#u9962 {
  position:absolute;
  left:2px;
  top:85px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u9963 {
  position:absolute;
  left:87px;
  top:1023px;
  width:144px;
  height:41px;
}
#u9964 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:87px;
}
#u9965 {
  position:absolute;
  left:255px;
  top:1023px;
  width:200px;
  height:87px;
}
#u9966 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u9967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u9967 {
  position:absolute;
  left:8px;
  top:1158px;
  width:1000px;
  height:1px;
}
#u9968 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:18px;
}
#u9969 {
  position:absolute;
  left:575px;
  top:1159px;
  width:133px;
  height:18px;
  color:#AEAEAE;
}
#u9970 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u9971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
}
#u9971 {
  position:absolute;
  left:729px;
  top:1158px;
  width:209px;
  height:18px;
  color:#AEAEAE;
}
#u9972 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u9973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:15px;
}
#u9973 {
  position:absolute;
  left:210px;
  top:1159px;
  width:349px;
  height:15px;
  color:#AEAEAE;
}
#u9974 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u9975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u9975 {
  position:absolute;
  left:787px;
  top:1013px;
  width:300px;
  height:51px;
}
#u9976 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u9977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u9977 {
  position:absolute;
  left:818px;
  top:1058px;
  width:90px;
  height:90px;
}
#u9978 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u9979 {
  position:absolute;
  left:638px;
  top:1013px;
  width:300px;
  height:51px;
}
#u9980 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u9981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u9981 {
  position:absolute;
  left:663px;
  top:1058px;
  width:90px;
  height:90px;
}
#u9982 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u9983 {
  position:absolute;
  left:927px;
  top:1078px;
  width:100px;
  height:20px;
}
#u9984 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u9985 {
  position:absolute;
  left:927px;
  top:1108px;
  width:100px;
  height:20px;
}
#u9986 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:87px;
}
#u9987 {
  position:absolute;
  left:406px;
  top:1023px;
  width:200px;
  height:87px;
}
#u9988 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u9989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 5px 10px rgba(153, 153, 153, 0.349019607843137);
}
#u9989 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:101px;
}
#u9990 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9991 {
  position:absolute;
  left:218px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u9992 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u9993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9993 {
  position:absolute;
  left:307px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u9994 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u9995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9995 {
  position:absolute;
  left:397px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u9996 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u9997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9997 {
  position:absolute;
  left:486px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u9998 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u9999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u9999 {
  position:absolute;
  left:576px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10000 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u10001 {
  position:absolute;
  left:100px;
  top:66px;
  width:120px;
  height:35px;
}
#u10002 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10003 {
  position:absolute;
  left:666px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10004 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10005 {
  position:absolute;
  left:755px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10006 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u10007 {
  position:absolute;
  left:845px;
  top:59px;
  width:90px;
  height:48px;
  color:#1E1E1E;
}
#u10008 {
  position:absolute;
  left:2px;
  top:15px;
  width:86px;
  word-wrap:break-word;
}
#u10009_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:6px;
}
#u10009 {
  position:absolute;
  left:247px;
  top:97px;
  width:30px;
  height:3px;
  color:#FFFFFF;
}
#u10010 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10011_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u10011 {
  position:absolute;
  left:1058px;
  top:67px;
  width:20px;
  height:20px;
  font-size:10px;
}
#u10012 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u10013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10013 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u10014 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10015 {
  position:absolute;
  left:129px;
  top:9px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u10016 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u10017 {
  position:absolute;
  left:191px;
  top:6px;
  width:1px;
  height:20px;
}
#u10018 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10019 {
  position:absolute;
  left:209px;
  top:9px;
  width:136px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u10020 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u10021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10021 {
  position:absolute;
  left:354px;
  top:9px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u10022 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10023 {
  position:absolute;
  left:406px;
  top:9px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u10024 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10025 {
  position:absolute;
  left:808px;
  top:9px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u10026 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10027 {
  position:absolute;
  left:98px;
  top:1px;
  width:83px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10028 {
  position:absolute;
  left:807px;
  top:1px;
  width:66px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:34px;
}
#u10029 {
  position:absolute;
  left:883px;
  top:8px;
  width:228px;
  height:34px;
  font-size:12px;
  color:#FFFFFF;
}
#u10030 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u10031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10031 {
  position:absolute;
  left:855px;
  top:6px;
  width:20px;
  height:20px;
}
#u10032 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10033 {
  position:absolute;
  left:109px;
  top:6px;
  width:20px;
  height:20px;
}
#u10034 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10035 {
  position:absolute;
  left:1038px;
  top:72px;
  width:20px;
  height:20px;
}
#u10036 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10037 {
  position:absolute;
  left:143px;
  top:414px;
  width:281px;
  height:20px;
  color:#FF0000;
}
#u10038 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u10039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10039 {
  position:absolute;
  left:434px;
  top:415px;
  width:61px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10040 {
  position:absolute;
  left:2px;
  top:1px;
  width:57px;
  word-wrap:break-word;
}
#u10041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u10041 {
  position:absolute;
  left:117px;
  top:897px;
  width:429px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u10042 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  white-space:nowrap;
}
#u10043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10043 {
  position:absolute;
  left:108px;
  top:749px;
  width:1000px;
  height:138px;
}
#u10044 {
  position:absolute;
  left:2px;
  top:61px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:56px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u10045 {
  position:absolute;
  left:108px;
  top:749px;
  width:1000px;
  height:56px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u10046 {
  position:absolute;
  left:2px;
  top:18px;
  width:996px;
  word-wrap:break-word;
}
#u10047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10047 {
  position:absolute;
  left:791px;
  top:833px;
  width:71px;
  height:18px;
  color:#666666;
}
#u10048 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CC0000;
}
#u10049 {
  position:absolute;
  left:862px;
  top:829px;
  width:74px;
  height:18px;
  font-size:18px;
  color:#CC0000;
}
#u10050 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u10051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10051 {
  position:absolute;
  left:946px;
  top:822px;
  width:110px;
  height:40px;
}
#u10052 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u10053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u10053 {
  position:absolute;
  left:700px;
  top:155px;
  width:31px;
  height:32px;
}
#u10054 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u10055 {
  position:absolute;
  left:731px;
  top:161px;
  width:92px;
  height:20px;
}
#u10056 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u10057 {
  position:absolute;
  left:853px;
  top:161px;
  width:92px;
  height:20px;
}
#u10058 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10059 {
  position:absolute;
  left:823px;
  top:155px;
  width:30px;
  height:30px;
}
#u10060 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10061 {
  position:absolute;
  left:942px;
  top:153px;
  width:30px;
  height:30px;
}
#u10062 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u10063 {
  position:absolute;
  left:972px;
  top:160px;
  width:92px;
  height:20px;
}
#u10064 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10065 {
  position:absolute;
  left:1064px;
  top:152px;
  width:30px;
  height:30px;
}
#u10066 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10067 {
  position:absolute;
  left:687px;
  top:131px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10068 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10069 {
  position:absolute;
  left:1065px;
  top:132px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10070 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10071 {
  position:absolute;
  left:811px;
  top:131px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10072 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10073 {
  position:absolute;
  left:941px;
  top:131px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10074 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
